{% extends 'base.html' %}
{% block content %}


{% if step1 %}
<body>
<br>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you are you want to delete this form?</p>

			<form action="{% url 'delete-post' form.id %}" method="POST" >

			{% csrf_token %}

			<a class= "btn btn-warning"  href="{% url 'user-homepage' %}" >Cancel</a>&emsp;

			<button  type="submit" class="btn btn-danger" name="confirm">Delete</button>

			</form>
		</div>   

	</div>
</div>
</body>
{% else %}
<meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/form_view_error" />
{% endif %}



{% endblock content %}