{% extends 'base.html' %}

<!--Row -->



{% block content %}

<h2>Safety with a Protection/Restraining Order</h2>

<table class="table table-striped table-hover table-bordered">

       <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step4'  %}">
          <button class="wrap_button">Safety with a Protection Order</button>
          </a>
        </div></td>
   </tbody>  
    <tbody>
        <td><div class="span12" style="text-align:center ">
          <a href="{% url 'form_view4'  %}">
          <button class="wrap_button">View</button>
          </a>
        </div></td>
   </tbody>  
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form4 %}
          <a href="{% url 'editpost4' f.id %}">
           {% endfor %}
           <button class="wrap_button">Update</button>
          </a>  
        </div></td>
   </tbody> 
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form4 %}
          <a href="{% url 'delete-post4' f.id %}">
           {% endfor %}
           <button class="wrap_button" >Delete</button>
          </a>
        </div></td>
      </tr>
   </tbody> 


</table>


{% endblock %}