{% extends 'base.html' %}

<!--Row -->



{% block content %}

<h2>Safety and drug or alcohol use.</h2>

<table class="table table-striped table-hover table-bordered">
       <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step6'  %}">
          <button class="button">Safety and Drug or Alcohol use</button>
          </a>
        </div></td>
   </tbody>  
    <tbody>
        <td><div class="span12" style="text-align:center ">
          <a href="{% url 'form_view6'  %}">
          <button class="wrap_button">View</button>
          </a>
        </div></td>
   </tbody>  
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form6 %}
          <a href="{% url 'editpost6' f.id %}">
           {% endfor %}
           <button class="wrap_button">Update</button>
          </a>
        </div></td>
   </tbody> 
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form6 %}
          <a href="{% url 'delete-post6' f.id %}">
           {% endfor %}
           <button class="wrap_button" >Delete</button>
          </a>
        </div></td>
      </tr>
   </tbody> 


</table>


{% endblock %}