{% extends 'base.html' %}

<!--Row -->


{% block content %}

<h2>A Violent Incident</h2>

<table class="table table-striped table-hover table-bordered">
  <tbody>
        <!-- Column 1 -->

      <tr>
        <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step1'  %}">
          <button class="wrap_button">A Violent Incident</button>
          </a>
        </div></td>
  </tbody>
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'editpost' f.id %}">
           {% endfor %}
           <button class="wrap_button">Update</button>
          </a>
        </div></td>
      </tr>
  </tbody>
  <tbody>

      <tr>
        <td><div class="span12" style="text-align:center">
          <a href="{% url 'form_view'  %}">
          <button class="wrap_button" >View</button>
          </a>
        </div></td>
  </tbody>
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form1 %}
          <a href="{% url 'delete-post' f.id %}">
           {% endfor %}
           <button class="wrap_button" >Delete</button>
          </a>
        </div></td>
  </tbody>
  <tbody>

      </tr>

</table>


{% endblock %}