{% extends 'base.html' %}

<!--Row -->


{% block content %}

<h2>Safety on the job and in public.</h2>

<table class="table table-striped table-hover table-bordered">

       <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step5'  %}">
          <button class="button">On the Job and in Public Form</button>
          </a>
        </div></td>
   </tbody>  
    <tbody>
        <td><div class="span12" style="text-align:center ">
          <a href="{% url 'form_view5'  %}">
          <button class="button">View</button>
          </a>
        </div></td>
   </tbody>  
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form5 %}
          <a href="{% url 'editpost5' f.id %}">
           {% endfor %}
           <button class="button">Update</button>
          </a>
        </div></td>
   </tbody> 
  <tbody>

        <td><div class="span12" style="text-align:center">
          {% for f in form5 %}
          <a href="{% url 'delete-post5' f.id %}">
           {% endfor %}
           <button class="button" >Delete</button>
          </a>
        </div></td>
      </tr>
   </tbody> 

</table>


{% endblock %}