{% extends 'base.html' %}

<!--Row -->



{% block content %}

<h2>Safety in my own residence.</h2>

<table class="table table-striped table-hover table-bordered">

       <td><div class="span12" style="text-align:center">
          <a href="{%  url 'step3'  %}">
          <button class="button">Safety in my Own Residence</button>
          </a>
        </div></td>
   </tbody>  
    <tbody>
        <td><div class="span12" style="text-align:center">
          <a href="{% url 'form_view3'  %}">
          <button class="button">View</button>
          </a>
        </div></td>
   </tbody>  
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form3 %}
          <a href="{% url 'editpost3' f.id %}">
           {% endfor %}
           <button class="button">Update</button>
          </a>
        </div></td>
   </tbody> 
  <tbody>
        <td><div class="span12" style="text-align:center">
          {% for f in form3 %}
          <a href="{% url 'delete-post3' f.id %}">
           {% endfor %}
           <button class="button" >Delete</button>
          </a>
        </div></td>
      </tr>
   </tbody> 


</table>


{% endblock %}