{% extends 'base.html' %}
{% block content %}


<body>
   <div class="card card-body">
      {% if step2 %}
          {% for st in step2 %}

             <h3>Safety when preparing to leave. </h3>
             <p></p>
              Victims of domestic violence frequently leave the residence they share with the abusive partner. Leaving must be done with a careful plan in order to increase safety. Abusers often strike back when they believe that a victim is leaving a relationship.
              <p>
              <p><b>I can use some or all of the following strategies:</b></p>
              <p>
              <b>A.</b> I will leave money and an extra set of keys with <b>{{ st.box1 }}</b> so I can leave quickly.
              </p><p>
              <b>B.</b> I will keep copies of important documents or keys at <b>{{ st.box2 }}</b>.
              <p>
              <b>C.</b> I will open a savings account by <b>{{ st.box3 }}</b>, to increase my independence.
              <p>
              <b>D.</b> Other things I can do to increase my independence include: <b>{{ st.box4 }}</b>.
              <p>
              <b>E.</b> I can keep change for phone calls on me at all times. I understand that if I use my telephone credit card, the following month’s phone bill will show my abuser those numbers I called after I left. To keep my phone communications confidential, I must either use coins, or I might ask to use a friends phone card for a limited time when I first leave.
              </p><p>
              <b>F.</b> I will check with <b>{{ st.box5 }}</b> and <b>{{ st.box6 }}</b> to see who would be able to let me stay with them or lend me some money.
              <p>
              <b>G.</b> I can leave extra clothes or money with <b>{{ st.box7 }}</b>.
              <p>
              <b>H.</b> I will sit down and review my safety plan every <b>{{ st.box8 }}</b> in order to plan the safest way to leave the residence. <b>{{ st.box9 }}</b> (domestic violence advocate or friends name) has agreed to help me review this plan.
              <p>
              <b>I.</b> I will rehearse my escape plan and, as appropriate, practice it with my children.
              </p>

           {% endfor %}
   </div>
           {% else %}
              <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/form_view_error" />
          {% endif %}


</body>


{% endblock content %}