{% extends 'base.html' %}
{% block content %}



<body>
        <div class="card card-body">
                <form method='post'>
                    {% csrf_token %}

                
                <h3>Safety in my own residence. </h3>
                <p>
                There are many things that a victim of domestic violence can do to increase their safety in their own residence. It may be impossible to do everything at once, but safety measures can be added step by step.
                <p>
                <b>Safety measures I can use:</b>
                <p>
                <p>
                <b>A.</b> I can change the locks on my doors and windows as soon as possible.
                <p>
                <b>B.</b> I can replace wooden doors with steel/metal doors.
                <p>
                <b>C.</b> I can install security systems including additional locks, window bars, and poles to wedge against doors, an electronic system, etc.
                </p>
                <b>D.</b> I can purchase rope ladders to be used for escape from second floor windows.
                <p><p>
                <b>E.</b> I can install smoke detectors and fire extinguishers for each floor of my house/apartment.
                </p>
                <b>F.</b> I can install an outside lighting system that activates when a person is close to the house.
                <p><p>
                <b>G.</b> I will teach my children how to make a collect call to me and to {{form.box1}} (name of friend,
        etc.) in the event that my partner takes the children.
                <p>
                <b>H.</b> I will tell the people who take care of my children which people have permission to pick up my children and that my partner is not permitted to do so. The people I will inform about pick-up permission include:
                </p>

                {{form.box2}} (name of school)<br><p><p>
                {{form.box3}} (name of babysitter)<br><p>
                {{form.box4}} (name of teacher)<br><p>
                {{form.box5}} (name of Sunday-school teacher)<br><p>
                {{form.box6}} (name[s] of others)

                </p><p>

               <b>I.</b> I can inform {{form.box7}}(neighbor) and {{form.box8}}(friend) that my partner no longer resides with me and that they should call the police if he is observed near my residence.
                <p>

                </p>
                <p>

                </p>


                <button class='submit_button' type="submit">Submit</button>
                </form>
        </div>

</body>


{% endblock content %}