{% extends 'base.html' %}
{% block content %}


<body>
    <div class="card card-body">
        {% if step8 %}
            {% for st in step8 %}


            <h3>Items to take when leaving.</h3>

            <p>When leaving it is important to take certain items if possible. Beyond this, folks sometimes give an extra copy of papers and an extra set of clothing to a friend just in case they have to leave quickly.</p>

            <p>Money: Even if I never worked, I can take money from jointly held savings and checking accounts. If I do not take this money, my abusive partner can legally take the money and close the accounts.</p>

           <p><b>When I leave the most important things for me to take are:</b></p>


            <ul>
                <li>Identification for myself</li>
                <li>Mine and my Childs birth certificates and Social Security cards</li>
                <li>Money</li>
                <li>School and vaccination records</li>
                <li>Checkbook, ATM card; Credit Cards</li>
                <li>Spare Keys - House, Car, Office</li>
                <li>Driver’s License and Registration</li>
                <li>Medications;</li>
                <li>Copy of Protection Order</li>
                <li>Welfare Identification, Work Permits, Green Cards </li>
            </ul>

        
            <p>If there is time, the other items might be taken, or stored outside the home. These items might best be placed in one location, so that if we have to leave in a hurry, I can grab them quickly.</p>

            <p><b>Those items include: </b></p>
                <ul>
                    <li>Passport(s)</li>
                    <li>Divorce Papers</li>
                    <li>Money</li>
                    <li>Medical Records - for all family members</li>
                    <li>Lease/Rental agreement</li>
                    <li>House Deed</li>
                    <li>Mortgage Payment Book</li>
                    <li>Bank books</li>
                    <li>Address Book</li>
                    <li>Pictures</li>
                    <li>Jewelry</li>
                    <li>Children’s favorite toys and/or blankets</li>
                    <li>Items of special sentimental value.</li>
                </ul>
            , 
            
            <p><b>Telephone numbers I need to know:</b></p>
            <ul>
                <p><li>Catalyst Domestic Violence Services 24 hour hotline 1.800.895.8476</li></p>
                <p><li>Police/sheriff’s department (local) - {{st.box1}}.</li></p>
                <p><li>911 or {{st.box2}}</li></p>
                <p><li>Police/sheriff’s department (work): {{st.box3}}</li></p>
                <p><li>Police/sheriff’s department (school) {{st.box4}}</li></p> 
                <p><li>Prosecutor’s office {{st.box5}}</li></p>
                <p><li>Local Domestic Violence Agency {{st.box6}}</li></p>
            </ul>
            <p><li>National Domestic Violence Hotline: 800-799-SAFE (7233) 800-787-3224 (TTY)
            www.ndvh.org</li></p>

           <p><b>Organizations that can help with Restraining Orders:</b></p>

            <ul>
                <li><p>Catalyst Domestic Violence Services: 530-343-7711 or 532-6427</li></p>
                <p><li>CLIC: The Community Legal Information Clinic (CLIC) is an undergraduate law clinic comprised of paralegal interns only. CLIC’s paralegal interns will make referrals to these agencies to assist survivors dealing with the impacts of domestic violence.</li></p>
                <p><li>SHARP: The Stalking and Harassment Assessment and Risk Profile (SHARP) is a 48 item web-based assessment developed from the empirical research, clinical literature, stories from stalking victims, and case studies. SHARP provides an assessment of the “big picture” of the stalking situation. SHARP also provides a situational risk profile that consists of 14 factors associated with a wide variety of harms including physical or sexual attack, harm to close others, ongoing and escalating stalking and harassment, and life sabotage. (https://ukcdar.uky.edu/ls/index.php/727369).</li></p>
                <p><li>Other: {{st.box7}}</li></p>
                <p><li>County registry of protection orders? {{st.box8}}</li> </p>
                <p><li>State registry of protection orders? {{st.box9}}</li> </p>
                <p><li>Work number {{st.box10}}</li></p>
                <p><li>Supervisor’s home number {{st.box11}}</li></p>
               <p><li> I will keep this document in a safe place and out of the reach of my potential attacker.</li></p>
            </ul>


             {% endfor %}
             {% else %}
                <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/form_view_error" />
             {% endif %}

    </div>
</body>

{% endblock content %}