{% extends 'base.html' %}
{% block content %}



<body>
    <div class="card card-body">
        <form method='post'>
            {% csrf_token %}

        <h3>Safety and my emotional health. </h3>
        <p></p>
        <p>The experience of being abused and verbally degraded by partners is usually exhausting and emotionally draining. The process of building a new life takes much courage and incredible energy.</p>

        <p><b>To conserve my emotional energy and resources and to avoid hard emotional times, I can do some of the following:</b></p>

        <p><b>A.</b> If I feel down and am returning to a potentially abusive situation, I can {{form.box1}}.</p>

        <p><b>B.</b> When I have to communicate with my partner in person or by telephone, I can {{form.box2}}.</p>
        <p><b>C.</b> I will try to use “I can ... ” statements with myself and be assertive with others.</p>
        <p><b>D.</b> I can tell myself, “{{form.box3}}” whenever I feel others are trying to control or abuse me.</p>
        <p><b>E.</b> I can read {{form.box4}} to help me feel stronger.</p>
        <p><b>F.</b> I can call {{form.box5}} and {{form.box6}} for support.</p>
        <p><b>G.</b> I can attend workshops and support groups at the domestic violence program or {{form.box7}} to gain support and strengthen relationships.</p>


        <button class='submit_button' type="submit">Submit</button>
        </form>
    </div>


</body>


{% endblock content %}