{% load static %}


 <nav class="navbar navbar-inverse" style="background-color: #b98fb6;">
  <div class="container-fluid">

  <div><a class="navbar-brand" href="% url 'welcome' %}">
    <img src="static/website/award.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a></div>

  <div><a class="navbar-brand"  href="% url 'welcome' %}"><h2><b>Domestic Violence Plan</b></h2></a></div>

    <div class="navbar-header">
      <button class='submit_button' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">Menu
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="text-align:right">
          <p></p>
          <li><a href="{% url 'welcome' %}">HomePage</a></li>
          <p></p>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login_user' %}">Login</a></li>
          {% endif %}
          <p></p>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link active" aria-current="page" href="{% url 'user-homepage' %}"><h7>{{user}}'s Profile</h7></a></li>
          {% else %}
          {% endif %}

      </ul>
    </div>

</nav> 


 