{% extends 'base.html' %}
{% load static %}

     {% block content %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">

    <!-- The line and href below are really important it formats the navbar and makes the "container" gutter work. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">



  </head>
  <body>

      <br/>
    	<div class="container"> <!--creates a gutter for content on homepage, this is good.-->
        <h1>Welcome!</h1>
        <h3>Please register below or log in above.</h3>
        <h7>This website has security features built-in.</h7> 
        <h7> By creating an account you are accepting responsbility for who has access to it through your devices.</h7> <p><p>

           <b>Tip:</b> Close this website tab when you are completed using this website  </h7><p>
          <b>Tip:</b> You may also consider erasing the browser history on your computer.  </h7><p>


       <div class="align-middle" style="text-align:left">
          <a href="{%  url 'register_user'  %}">
          <button class='submit_button' >Register Here</button>
          </a>
      </div>
      
    </div>

      <div>
     {% endblock %}
      </div>
  </body>


</html>

